 <!-- floating social icon -->
          <div class="fab-container">
            <div class="fabb fab-icon-holder">
              <i class="fas fa-question fa-2x"></i>
            </div>
            <ul class="fab-options">
              <li>
                <span class="fab-label">Give a call</span>
                <div class="fab-icon-holder">
                  <a href="tel:+2348067405858"><i class="fas fa-phone fa-2x"></i></a>
                  </div>
              </li>
              <li>
                <span class="fab-label">Chat on Whasapp</span>
                <div class="fab-icon-holder">
                  <a href="https://wa.me/2348067405858"><i class="fab fa-whatsapp fa-2x"></i></a>
                  </div>  
              </li>
              <li>
                <span class="fab-label">send message</span>
                <div class="fab-icon-holder">
                  <a href="https://m.me/jerequeStores"><i class="fas fa-envelope fa-2x"></i></a>
                  </div>
              </li>
            </ul>
          </div>
          <!-- https://m.me/miahclothings -->

<div class="wrapper">
    <!-- Sidebar -->
    <div class="mainSideBar">
    <nav id="sidebar" class="sidebarSide">

        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <h3><i class="fas fa-sign-in-alt"></i> <a href="/users/login">Login</a></h3>
        </div>

        <ul class="list-unstyled components">
            <h2 class="p-2">CATEGORIES</h2>
            <li class="active">
               <a href="/category/household-items"><i class="fas fa-couch"></i> Household items </a>
            </li>
            <li>
              <a href="/category/kitchen-wares"><i class="fas fa-wine-glass"></i> Kitchen Wares</a>
            </li>
            <li>
              <a href="/category/toilet-and-bathroom"><i class="fas fa-toilet-paper"></i></i> Toilet and Bathroom</a>
            </li>
            <li>
              <a href="/category/clothings"><i class="fas fa-tshirt"></i> Clothings</a>
            </li>
            <li>
              <a href="/category/foot-wears"><i class="fas fa-socks"></i> Foot Wears</a>
            </li>
            <li>
              <a href="/category/educational-materials"><i class="fas fa-graduation-cap"></i> Educational Materials</a>
            </li>
          
          </ul>
           <ul class="list-unstyled">
                  <li class="nav-item dropdown d-block">
                      <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ACCOUNT
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/shop/shopping-cart/">Wishlist</a>
                        <% if(!currentUser){ %>
                        <a class="dropdown-item" href="/users/login">Login</a>
                         <% } else { %>
                         <a class="dropdown-item" href="/users/dashboard"><i class="fas fa-user"><span> Dashboard</span></i></a>
                          <a class="dropdown-item" href="/users/logout">Logout</a>

                        <% } %>
                        <a class="dropdown-item" href="/users/register">Signup</a>
                      </div>
                  </li>
            </ul>

    </nav>
    </div>
    <!-- Page Content -->
    <div id="content">


        <div class="container-fluid topnav">

            <ul class="nav justify-content-end">
              <a class="navbar-brand " href="/">
                <img src="/img/jereque-logo2.png" class="rounded" alt="jereque-store Logo" style="width:80px; max-height:60px ">
              </a>
               <a class="navbar-brand " href="/">Jereque Stores<br> <span class="small-logo-title">(Home & Kitchen)</span></a>
             
                <li class="nav-item">
                    <a class="nav-link" href="/shop/shopping-cart/">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                    <span class="badge bg-danger" style="color:#fff;"><% if (locals.session.cart != null){ %><strong><%= session.cart.totalQty%></strong>  <% } %></span>
                    </a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link " href="/contact"> Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog"> Blog</a>
                </li> 
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li> <span class="pt-1">|</span> -->
                <li class="nav-item">
                  <a class="nav-link " href="/"> Home</a>
                </li>
            </ul>
       </div>

        <nav class="navbar navbar-expand-lg navbar-light mynav ">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-align-left"></i>
                    <span>Categories</span>
                </button>
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
              
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <form class="form-inline mx-auto mt-3 " id="" action="/" method="GET">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-search bg-light"></i></div>
                  </div>
                  <input class="form-control mr-sm-2" type="search" name="product_title" 
              value= "<% if (locals.searchOptions != null){ %><%= searchOptions.product_title%> <% }%>" placeholder="Search all Products" aria-label="Search"> 
                </div>
            </form>
                   
                  <ul class="navbar-nav ml-auto AccountHideMobile">
                   
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ACCOUNT
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/shop/shopping-cart/">Wishlist</a>
                        <% if(!currentUser){ %>
                        <a class="dropdown-item" href="/users/login">Login</a>
                         <% } else { %>
                         <a class="dropdown-item" href="/users/dashboard"><i class="fas fa-user"><span> Dashboard</span></i></a>
                          <a class="dropdown-item" href="/users/logout">Logout</a>

                        <% } %>
                        <a class="dropdown-item" href="/users/register">Signup</a>
                    </li>
                  </ul>

                </div>
            </div>
        </nav>
    </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>



      <!--error message-->
    <div class="container">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger"><p><%=error %></p></div>
       
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success"><p><%= success %></p></div>
     <% } %>
  </div>
  <div class="container">
    <% if(typeof errors != 'undefined') {%>
    <% errors.forEach(function(error) { %>
      <div class="alert alert-danger">
      <%= error.msg %>
       </div>
    <% });%>
    <%}%> 
  </div>

</div>



































 

<script type="text/javascript">
    $(document).ready(() => {     

        $.ajax({
            url: "/category/partials",
            type:"GET",
            datatype: "json",
            success: (categories) =>{
              let html ='';
              categories.forEach(category => { 
                 html +=  '<li>' + '<a href="/category/' + category._id + '"' + '>' + category.name + '</a>' + '</li>';
              });
              $("#allCategory").html(html);
            }

        });
        
    });

</script>

