<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">

        <% if (locals.metaTags) { %>
             <title><%= metaTags.title.substring(0, 50) %>...</title>
            <meta name="description" content="<%= metaTags.description.substring(0, 150)%>...">    
            <meta name="keywords" content="<%= metaTags.keywords%>"> 
        <% } %>
       
        <!-- <meta name=”description” content="Description of page here."/>
        <meta name="keywords" content="free stock photos, pexels, design resource, high quality" /> -->
        <link rel="canonical" href="original domain name">
 
           <% if (locals.metaTagsDynamic) { %>
           <!-- Open Graph data -->
            <meta property="og:url"           content="https://localhost:3000/blog/" + <%=metaTagsDynamic.meta.slug %> />
           <meta property="og:type"          content="website" />
           <meta property="og:title"         content="<%= metaTagsDynamic.meta.title.substring(0, 50)%>..." />
           <meta property="og:description"   content="<%- metaTagsDynamic.meta.body.substring(0, 150)%>..." />
           <meta property="og:image"         content="<%= metaTagsDynamic.meta.image%>" />
           <% } %>           

           <% if (locals.metaTagsDynamic) { %>
           <!-- Twitter Card data -->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="@JerequeStores">
            <meta name="twitter:title" content="<%= metaTagsDynamic.meta.title.substring(0, 50)%>...">
            <meta name="twitter:description" content="<%- metaTagsDynamic.meta.body.substring(0, 150)%>">
           <!--  <meta name="twitter:creator" content="@author_handle"> -->
            <!-- Twitter summary card with large image must be at least 280x150px -->
            <meta name="twitter:image:src" content="<%= metaTagsDynamic.meta.image%>"> 
             <% } %>  
         <!-- <link rel="stylesheet" href="/css/reset.css"> -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=poppins:400,500,700">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
       <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">



        <!-- <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
 -->

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/starability-basic.min.css">
      
        <script defer src="/javascripts/main.js"></script>
        <script defer src="/javascripts/background-images.js "></script>
        <script src="https://cdn.ckeditor.com/4.13.0/standard-all/ckeditor.js"></script>
   <!-- <script src="//cdn.ckeditor.com/4.13.0/full/ckeditor.js"></script> -->
         
         <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"> </script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"> </script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
      
   </head>
    <body>
    	 <noscript>
	      You need to enable JavaScript to run this app.
	    </noscript>
        <%- include('../partials/header.ejs') %>
         <%- body %>


<!-- section boxes -->
<div class="container-fluid mt-4 p-3">
    <div class="boxes">
        <div class="box">
            <i class="fas fa-chart-pie fa-3x"> </i>
            <h3>Great Prices</h3>
            <p>We offer competitive prices on all our products..</p>
        </div>
        <div class="box">
            <i class="fas fa-globe fa-3x"> </i>
            <h3>Nationwide Delivery</h3>
            <p>With our easy delivery system, we deliver to every part of Nigeria.</p>
        </div>
        <div class="box">
            <i class="fas fa-cog fa-3x"> </i>
            <h3>Safe Payment</h3>
            <p>Pay with the one of the most popular and secure payment methods..</p>
        </div>
        <div class="box">
             <i class="fas fa-users fa-3x" > </i>
            <h3>24/7 Help Center</h3>
            <p>Round-the-clock assistance for a smooth shopping experience..</p>
        </div>
    </div>
</div>


<hr class="my-4">
<!--connect container fluid -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h3>Connect</h3>
            <div class="col-12 social padding">
                <a href="https://facebook.com/JerequeStores" title="facebook"><i class="fab fa-facebook "></i></a>
                <a href="https://twitter.com/JerequeStores" title="twitter"><i class="fab fa-twitter "></i></a>
                <a href="https://instagram.com/jereque_stores" title="instagram"><i class="fab fa-instagram "></i></a>
            </div>
        </div>
    </div> 
</div>

<!--Footer -->
<footer>
<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="/img/jereque-logo2.png" class="" alt="jereque-store Logo" style="width: 70%"; height:25%;>
            <hr class="light">
            <p>Call: 08067405858 or 08022495563</p>
            <p>WhatsApp: 08067405858 or 08120060260</p>
            <p>jerequestores@gmail.com</p>
            <p>27, CAC close, Gbanda along Arulogun road, Ojoo</p>
            <p>Ibadan, Oyo State</p>
        </div> 
         <div class="col-md-4">
            <hr class="light">
            <h5>Our Hours</h5>
            <hr class="light">
            <p>Monday - Friday: 8am - 5pm</p>
            <p>Saturday: 9am -5pm</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Service Area</h5>
            <hr class="light">
            <p>Nationwide</p>
        </div>
    </div> 
<hr class="light-100">
    <div class="row d-flex justify-content-between flex-wrap">
        <div class=""> <p><strong> &copy; 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script>, www.jerequeStores.com</strong></p></div>
        <div><p><em class=""> Developed & Designed by OlaDan ProactiveImpact</em></p></div>
        
    </div>

</div>
</footer>
<!-- map script -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsgzJYbUWq5Wimyr7--3NqHWEezFYmSaM&callback=initMap" async defer></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


    </div> 
    </div>
 </body>
</html>


