
<section class="landingSlide">
  <div id="slides" class="carousel slide mb-0" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
       <li data-target="#slides" data-slide-to="3"></li>
        <li data-target="#slides" data-slide-to="4"></li>
        <li data-target="#slides" data-slide-to="5"></li>
        <li data-target="#slides" data-slide-to="6"></li>
        <li data-target="#slides" data-slide-to="7"></li>
        <li data-target="#slides" data-slide-to="8"></li>
         <li data-target="#slides" data-slide-to="9"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active carousel-item-1 " style="background-image:url('img/jere-set1.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
        <!-- <img src="/img/slide10.jpg" class="d-block w-100 h-100" alt="..."> -->
        <div class="carousel-caption" style="">
           
        </div>
      </div>
      <div class="carousel-item carousel-item-2"  style="background-image:url('img/jere-set2.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
        <!-- img src="/img/slide12.jpg" class=" d-block w-100 h-100" alt="..."> -->
        <div class="carousel-caption" style="">
           
        </div>
      </div>
      <div class="carousel-item carousel-item-3"  style="background-image:url('img/jere-set3.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
        <!-- <img src="/img/slide13.jpg" class="d-block w-100 h-100" alt="..."> -->
        <div class="carousel-caption" style="">
           
       </div>
      </div>
      <div class="carousel-item carousel-item-3"  style="background-image:url('img/jere-set4.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
        <!-- <img src="/img/slide13.jpg" class="d-block w-100 h-100" alt="..."> -->
        <div class="carousel-caption" style="">
          
       </div>
      </div>
      <div class="carousel-item carousel-item-4 " style="background-image:url('img/jere-set5.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
       <!--  <img src="/img/slide15.jpg" class="d-block w-100" alt="..."> -->
        <div class="carousel-caption" style="">
          
        </div>
      </div>
      <div class="carousel-item carousel-item-4 " style="background-image:url('img/jere-set6.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
       <!--  <img src="/img/slide15.jpg" class="d-block w-100" alt="..."> -->
        <div class="carousel-caption" style="">
          
        </div>
      </div>
      <div class="carousel-item carousel-item-4 " style="background-image:url('img/jere-set7.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
       <!--  <img src="/img/slide15.jpg" class="d-block w-100" alt="..."> -->
        <div class="carousel-caption" style="">
          
        </div>
      </div>
      <div class="carousel-item carousel-item-4 " style="background-image:url('img/jere-set8.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
       <!--  <img src="/img/slide15.jpg" class="d-block w-100" alt="..."> -->
        <div class="carousel-caption" style="">
          
        </div>
      </div>
      <div class="carousel-item carousel-item-4 " style="background-image:url('img/jere-set10.jpg');background-position: center; -webkit-background-size: 100% 100%; background-repeat: no-repeat;background-origin: content-box; width:100%; height:100vh;">
       <!--  <img src="/img/slide15.jpg" class="d-block w-100" alt="..."> -->
        <div class="carousel-caption" style="">
          
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </section> 






<div class="hideScroll ">
 <ul class="sideBarScroll">
   <li>
      <a href="/category/household-items">
       <div class="icon">
          <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
           
           <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
           <img class="fa rounded" src=" /img/home.png">
       </div>
       <div class="name"><span  data-text="Home">Household</span></div>
     </a>
   </li>

    <li>
     <a href="/category/kitchen-wares">
       <div class="icon">
          <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
           
           <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
           <img class="fa rounded" src=" /img/kitchen.png">
       </div>
       <div class="name"><span  data-text="Home">Kitchen <br>Wares</span></div>
     </a>
   </li>
   <li>
     <a href="/category/toilet-and-bathroom">
       <div class="icon">
        <img class="fa rounded" src=" /img/bath2.png">
        <!--   <i class="fa fa-home" aria-hidden="true"></i> -->
         
          </div>
       <div class="name"><span  data-text="Portfolio">Toilet & <br>Bathroom</span></div>
     </a>
   </li>
   <li>
     <a href="/category/clothings">
       <div class="icon">
        <img class="fa rounded" src=" /img/shirt.jpg">
          <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
          
       </div>
       <div class="name"><span  data-text="Team">Clothings</span></div>
     </a>
   </li>
   <li>
    <a href="/category/foot-wears">
       <div class="icon">
        <img class="fa rounded" src=" /img/nike.jpeg">
        <!--   <i class="fa fa-home" aria-hidden="true"></i> -->
           
       </div>
       <div class="name"><span  data-text="Contact">Foot-Wears</span></div>
     </a>
   </li>
   <li>
     <a href="/category/educational-materials">
       <div class="icon">
         <img class="fa rounded" src=" /img/book.png">
          <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
        </div>
       <div class="name"><span data-text="Info">Educational <br>Materials</span></div>
     </a>
   </li>
 </ul>
 </div>
<!-- </div> -->

<!-- Slider-->
 <!-- <div class="landingSlide">
	<div id="slides" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#slides" data-slide-to="0" class="active"></li>
	    <li data-target="#slides" data-slide-to="1"></li>
	    <li data-target="#slides" data-slide-to="2"></li>
	
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item  embed-responsive-item  "  style="background-image:url('img/jereque-banner.jpg');background-position: center; -webkit-background-size: 1330px 500px; background-repeat: no-repeat;background-origin: content-box;  width:100%; height:500px;">
	      <img src="img/jereque-banner.jpg" class="w-100" alt="...">
	    </div>
	    <div class="carousel-item embed-responsive " style="background-image:url('img/jereque-banner.jpg');background-position: center; -webkit-background-size: 1330px 500px; background-repeat: no-repeat;background-origin: content-box;  width:100%; height:500px;">
	      <img src="img/jereque-banner.jpg" class="w-100" alt="...">
	    </div>
	    <div class="carousel-item embed-responsive-" style="background-image:url('img/jereque-banner.jpg');background-position: center; -webkit-background-size: 1330px 500px; background-repeat: no-repeat;background-origin: content-box; width:100%; height:500px;">
	      <img src="img/jereque-banner.jpg" class="w-100" alt="...">
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div> -->
<!-- </div>-->






<!-- ad1 section -->
<!-- <section>
    <div class=" mt-4 mb-4">
      <p class="text-light bg-success w-25 p-2 text-center rounded"> New Ads</p>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-6 col-md-4">
          <img src="img/ad.jpg" class="img-thumbnail w-100" alt="...">
        </div>
        <div class="col-6 col-md-4">
          <img src="img/ad1.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
        <div class="col-12 col-md-4">
          <img src="img/ad2.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row" id="similarProduct">
        <div class="col-6 col-md-4">
          <img src="img/ad4.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
        <div class="col-6 col-md-4">
          <img src="img/ad5.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
        <div class="col-12 col-md-4">
          <img src="img/slide2.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
      </div>
      </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

</section> -->




		<!-- show all products -->

<div class="container mt-3">
  <div class="row bg-success text-light p-2 mb-4 ml-1" style="width:200px">NEW PRODUCTS</div>
	<div class="row" id="products">
		<% products.forEach(product => { %>
		  <div class="col-6 col-sm-4  col-lg-3"> 
                <div class="card mb-2 landingCard">
                  <a class=""  href="/products/<%= product.slug %>">
                   <div class="cardWrapper">
                      <img class="card-img-top img-fluid w-100" src="<%= product.image%>" alt="product image"> 
                   </div>
                   </a>
                  <div class="card-body p-1 lineH">
                      <p class="cardTitle "><%=product.product_title.substring(0, 50)%>...</p>
                      <p><span class="price"><span>&#8358 </span><b><%= product.price%></b></span></p>
                      <a href="/shop/add-to-cart/<%= product._id%>" class="btn btn-outline-success text-success btn-sm"><i class="fa fa-shopping-cart"></i> Add to Cart</a> 
                      
                  </div>
                </div>
      </div>
  <% }) %>
	</div>
  <!-- next/previous button -->
    <div class="row mt-1">
      <div class="  col-md-12">
        <button type="button" class="btn btn-success " onClick="getPrevious()";>Previous</button>
        <button type="button" class="btn btn-success float-right buttonfloat" onClick="getNext()";>Next</button>
      </div>
    </div>
</div>

<!-- ad2 section -->
<!-- <section>
    <div class=" mt-4 mb-4 p-2">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-6 col-md-4">
          <img src="img/ad.jpg" class="img-thumbnail w-100" alt="...">
        </div>
        <div class="col-6 col-md-4">
          <img src="img/ad1.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
        <div class="col-12 col-md-4">
          <img src="img/ad2.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row" id="similarProduct">
        <div class="col-6 col-md-4">
          <img src="img/ad4.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
        <div class="col-6 col-md-4">
          <img src="img/ad5.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
        <div class="col-12 col-md-4">
          <img src="img/slide2.jpg" class="img-thumbnail  w-100" alt="...">
        </div>
      </div>
      </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

</section> -->

<!-- blog section -->
<section class="blog mb-5">
  <div class="container padding">
      <div class="row mb-3 m-3">
      <button type="button" class=" btn btn-lg bg-success text-light">FROM THE BLOG </button>
    </div>
    <% blogs.forEach(blog => { %>
    <div class="row padding mb-5">
         <div class="col-sm-6">
          <a href="/blog" class="">
            <img src="<%= blog.image%>" class="img-fluid img-thumbnail " alt="blog image" style="width:100%; max-height: 300px"> 
          </a>
        </div>
        <div class="col-sm-6">
            <h2><a class=""  href="/blog"><%= blog.title.substring(0, 50)%>...</a></h2>
            <span class="text-success"><em><a href="#"> <%=blog.author.name%></a></em></span><span class="text-success"> <br>
             <em><%= blog.createdAt.toDateString() %></em></span>
            <p><%- blog.body.substring(0, 200)%>...<a class="text-danger"  href="/blog">Read more</a></p> 
            <div><a href="/blog" class="btn btn-success mt-2">More Posts</a></div>
        </div>
    </div>
       <% }) %>
</div>
</section>

<!-- why jereque section -->
<section>
      <div class="container">
  <div class="row whyShop p-3">
    <div class="col-md-12 bg-success">
      <h2 class="text-center text-light py-2">Online Shopping in Nigeria with Jereque Store</h2>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <p>Jereque stores is an online store that deals in the supply of unique Household and Kitchen wares thereby giving your home a feel of goodness. <b>Your Home, Your Goodness! <i class="fas fa-thumbs-up"></i></b></p>
    </div>
  </div>
  <div class="row whyShop p-3">
    <div class="col-md-12 bg-success">
      <h2 class="text-center text-light py-2">Why Jereque Store?</h2>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <p>Here at Jereque Stores, we ensure our customers get; value for their money, easy delivery with our nationwide delivery system, beautiful and unique household items for your homes, unique kitchen wares for stress free work in the kitchen. Gift and Souvenir
    items for all occasions, beautiful and unique kitchen decoration items. <b>Your Home, Your Goodness! <i class="fas fa-thumbs-up"></i></b> </p>
    </div>
  </div>
</div>
</section>

<script>
	let page = 1; 
	let limit = <%= limitResult %>;
	let myTotal = <%= myTotal.length%>; 
	
	
 function getNext(){
 	if(page * limit < myTotal){
 		page++;


 		$.ajax({
            url: "/products/get-products/" + page + "/" + limit,
            type:"GET",
            success: function(response){
            	console.log(response);
            	 renderBooks(response);
            },
            error: function(jqXHR, textStatus, errorThrown){
            	console.log(jqXHR);
            	console.log(textStatus);
            	console.log(errorThrown);
            }
 
        });
 	 }
 		console.log("next page is" + page);
 	 
 }


 function getPrevious(){
 	if(page > 1){
 		page--;

 		$.ajax({
            url: "/products/get-products/" + page + "/" + limit,
            type:"GET",
            success: function(response){
            	console.log(response);
            	 renderBooks(response);
            },
            error: function(jqXHR, textStatus, errorThrown){
            	console.log(jqXHR);
            	console.log(textStatus);
            	console.log(errorThrown);
            }
 
        });
 	}
 		console.log("previous page is" + page);
 	
 }




	function renderBooks(products) {
		if(products.length > 0){
			let html ="";

			 for (let a=0; a < products.length; a++) {
				html +='<div class="col-6 col-sm-4  col-lg-3">';
               html +=' <div class="card mb-2 landingCard">';
              html +='<a class=""  href="/books/' + products[a]._id + '">';
              html +=' <div class="cardWrapper">';
                  html +='<img class="card-img-top img-fluid w-100" src="' + products[a].image + '">'; 
                html +='</div>';
                html +=' </a>';
                  html +='<div class="card-body p-1">';
                      html +=' <p class="cardTitle">' + products[a].product_title + '</p>';
                      html +='<p><span class="price"><span>&#8358 </span><b>' + products[a].price + '</b></span></p>';
                            html +='<a href="/shop/add-to-cart/' + products[a]._id + '" class="btn btn-outline-success text-success btn-sm"><i class="fa fa-shopping-cart"></i> Add to Cart</a>';
                     
                 html +=' </div>';
                html +='</div>';
             html +='</div>';
	
			}

			 $("#products").html(html);
	}
}


             
   
</script>



